.ArchiveIceberg {
    margin-right: 10%;
    margin-left: 10%;
    background-color: whitesmoke;
    border-radius: 3px;
    margin-top: 15px;
    padding: 3px;
    height: 40px;
    display: flex;
}


.date {
    float: left
}
