.Accordion {
  margin-bottom: 10px;
}

.AccordionText {
  background-color:transparent;
  text-transform: none;
  font-size: 12px;
  font-style: italic;
  color:#193446;
  border-radius: 10px;
}

.speech-bubble {
  background:#9AABB9;
  border-radius: 4px;
  margin-bottom: 40px;
  max-width: 300px;
  padding: 15px;
  position: relative;
}

.speech-bubble-ds__arrow {
  border-left: 20px solid transparent;
  border-top: 20px solid  #9AABB9;
  bottom: -20px;
  content: "";
  position: absolute;
  right: 20px;
}

.AccordionButton {
  background-color:transparent;
  border-color: transparent;
  text-transform: none;
  font-size: 12px;
  color:#193446;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  padding: 0;
}

.AccordionButton button {
  padding: 0;
  color: 193446;
}

.AccordionButton:hover {
  background-color:transparent;
  color: #193446;
  text-decoration: underline;
  font-size: 13px;
}