.Accordion {
  margin-bottom: 10px;
}

.AccordionText {
  background-color:transparent;
  text-transform: none;
  font-size: 12px;
  font-style: italic;
  color:#193446;
  border-radius: 10px;
}

.first-speech-bubble {
  background: white;
  border-radius: 4px;
  margin-bottom: 40px;
  padding: 15px;
  position: relative;
}

.first-speech-bubble-ds__arrow {
  border-right: 15px solid transparent;
  border-top: 15px solid  white;
  bottom: -10px;
  content: "";
  position: absolute;
}

.second-speech-bubble {
  background:#b1d6e0;
  border-radius: 4px;
  margin-bottom: 40px;
  padding: 15px;
  position: relative;
}

.second-speech-bubble-ds__arrow {
  border-left: 15px solid transparent;
  border-top: 15px solid  #b1d6e0;
  bottom: -10px;
  content: "";
  position: absolute;
  right: 20px;
}

.AccordionButton {
  background-color:transparent;
  border-color: transparent;
  text-transform: none;
  font-size: 12px;
  color:#193446;
  font-weight: bold;
  text-align: left;
  padding: 0;
  margin-bottom: 25px;
  margin-top: 10px;
}

.AccordionButton button {
  padding: 0;
  color: #193446;
}

.AccordionButton:hover {
  background-color:transparent;
  color: #193446;
}