.AccordionText {
  background-color:transparent;
  text-transform: none;
  font-size: 12px;
}

.helpButton {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  float: left;
  background-color: lightgray;
}
