
.column {
  float: left;
  margin-bottom: 20px;
  margin-right: 25px;
}

.row {
display:block;
}  

.row ul {
font-size: 12px;
text-align: left;
}

ul {
list-style: none;
padding: 0;
}
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.column li {
float: none;
line-height: .25em;
}
