.QuestionBox {
    margin: auto;
    margin-top: 25px;
}

.IndividualQuestion {
    padding: 9%;
    margin-bottom: 40px;
    background-color: #ddeaf3;
    border-radius: 10px;
    text-align: left;
    display: inline-block;
}

.Questions  h2 {
    color:  #193446;
}

.Questions  h3 {
    color:  #193446;
    margin-bottom: 5px;
}

.Questions  p {
    color:  #193446;
}

.Questions  text {
    color:  #193446;
}


.TellMeMore {
    display: inline;
    text-align: left;
    color: black;
}

.Title {
    text-align: left;
}

.Answer {
    display: block;
}

.QandA_Button {
    border: 0;
    width: 90px;
    height: 25px;
    left: 100px;
    top: 220px; 
    margin-top: 15px;
    text-transform: uppercase;
    color: white;
    background: #889BAA;
    float: right;
    font-size: 12px;
}

.QandA_Button:disabled {
    opacity: .25;
    background-color: #889BAA;
}

.QandA_Button:hover {
    opacity: .25;
    background-color: #889BAA;
}

textarea {
    margin: 0;
    border-color: transparent;
    border-radius: 5px;
    width:100%;
    min-height:150px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px;
    color: #193446;
    font-size: 12px;
}
  

