.TellMeMore {
    display: inline;
    text-align: left;
}

.Title {
    text-align: left;
}

.Questions {
    text-align: left;
}

.IndividualQuestion {
    padding: 5%;
    margin-bottom: 40px;
}

.Answer {
    display: block;
}

.QandA_Button {
    border: 0;
    width: 90px;
    height: 25px;
    left: 100px;
    top: 220px; 
    text-transform: uppercase;
    background: #C4C4C4;
    float: right;
    font-size: 12px;
}

textarea {
    margin: 0;
    width:100%;
    min-height:150px; 
    font-family: "Open Sans", sans-serif; 
    color: #444;
    font-size: 12px;
}

.VocabHelp {
    text-align: left;
}
  

