.Home {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
}

.exploreButton {
    margin: auto;
}

.End {
    margin: auto;
}

a {
    color: whitesmoke;
}

.icebergImage {
    width: 60%;
    max-width: 300px;
    display: block;
    margin:auto;
    margin-top: 25px;
}

.Register {
    border-radius: 10px;
}

.HowItWorks {
    align-content: center;
    justify-content: center;
}

.SatirInfo {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SatirImage {
    background: #C4C4C4;
    border-radius: 15px;
    height: 250px;
    float: right;
    margin-bottom: 40px;
}

.VirginiaSatir {
    text-align: left;
    height: 250px;
    width: 250px;
    margin-left: 20px;
}