input {
    border: 1px solid #193446;
    opacity: .25;
    border-radius: 20px;
    height: 30px;
    width: 200px;
    margin: 15px;
    padding-left: 10px;
}

input::placeholder {
   color:  #193446;
}

input:focus {
    outline: none !important;
}

.submitButton {
    margin: auto;
    margin-top: 25px;
}

.username {
    margin: 20px;
}

.Password {
    margin: 20px;
    margin-bottom: 40px;
}

button:disabled {
  border: 1px solid #193446;
  background-color: #193446;
  color:whitesmoke;
  opacity: .15;
}

button:disabled:hover {
    border: 1px solid #193446;
  background-color: #193446;
  color:whitesmoke;
  opacity: .15;
}

.buttonOveride {
    background: none;
}

.response {
    margin: 10px;
}