input {
    border: 1px solid whitesmoke;
    opacity: .25;
    border-radius: 20px;
    height: 30px;
    width: 200px;
}

input:focus {
    outline: none !important;
}

.submitButton {
    margin: auto;
    margin-top: 25px;
}

.username {
    margin: 20px;
}

.Password {
    margin: 20px;
    margin-bottom: 40px;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.buttonOveride {
    background: none;
}