ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: right;
}

a {
    padding: 8px;
    color:whitesmoke;
    text-decoration: none;
    background-color: transparent;
}

.logo {
    float: left;
    font-weight: 800;
}