ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: right;
}

a {
    display: block;
    padding: 8px;
    color: rgb(53, 53, 53);
    text-decoration: none;
}

.logo {
    float: left;
    font-weight: 800;
}
  
/* li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
} */