form {
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 10%;
}

input {
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    width: 200px;
}

.username {
    margin: 20px;
}

.Password {
    margin: 20px;
    margin-bottom: 40px;
}

.input-feedback {
    color: rgb(190, 27, 27);
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}