* {
    box-sizing: border-box;  
    background-color: rgb(235, 235, 235);

}

header {
    padding: 3% 0;
}

body {
    font-family: "Open Sans", sans-serif; 
    color: #444;
    text-align: center;
}

button {
    border: 0;
    width: 120px;
    height: 40px;
    top: 220px; 
    text-transform: uppercase;
    background: #C4C4C4;
    margin: 10px;
    font-size: 14px;
}   

.linkButton {
    border: 0;
    text-transform: uppercase;
    background: #C4C4C4;
    padding: 10px;
    height: 40px;
    text-align: center;
    display: inline-flex;
    margin: 10px;
    font-size: 14px;
}

section {
    min-height: 200px;
    padding: 6% 0;
}


h1 {
    margin: 20px 0px;
    text-align: center;
}

h2 {
    margin: 20px 0px;
    font-size: 18px;
}

h3 {
    margin: 20px 0px;
    font-weight: 2;
    font-size: 16px;
}

p {
    font-size: 12px;
}
  