* {
    box-sizing: border-box;  
    background-color: rgb(235, 235, 235);

}

header {
    padding: 3% 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    text-align: center;
}

button {
    border: 0;
    width: 120px;
    height: 40px;
    top: 220px; 
    text-transform: uppercase;
    background: #2c2c2c;
    color: white;
    margin: auto;
    font-size: 14px;
    display: block;
    /* margin: auto;
    margin-top: 25px;
    margin-bottom: 25px; */
}   

.linkButton {
    border: 0;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
}

section {
    padding: 6% 0;
}


h1 {
    margin: 20px 0px;
    text-align: center;
}

h2 {
    margin: 20px 0px;
    font-size: 18px;
}

h3 {
    margin: 20px 0px;
    font-size: 16px;
}

p {
    font-size: 12px;
}

input {
    font-size: inherit;
}

textarea {
    font-size: inherit;
}
  