* {
    box-sizing: border-box;  
}

header {
    padding: 3% 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color:whitesmoke;
    text-align: center;
    background-image: linear-gradient( to bottom, #549b9a, #04312d);
}

button {
    border: 0;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    top: 220px; 
    text-transform: uppercase;
    background: whitesmoke;
    color: rgb(29, 29, 29);
    margin: auto;
    font-size: 14px;
    display: block;
    /* margin: auto;
    margin-top: 25px;
    margin-bottom: 25px; */
}   

.linkButton {
    border: 0;
    text-transform: uppercase;
    color: rgb(29, 29, 29);
    font-size: 14px;
}

section {
    padding: 6% 0;
}


h1 {
    margin: 20px 0px;
    text-align: center;
}

h2 {
    margin: 20px 0px;
    font-size: 18px;
}

h3 {
    margin: 20px 0px;
    font-size: 16px;
    font-weight: normal;
}

p {
    font-size: 12px;
}

input {
    font-size: inherit;
}

textarea {
    font-size: inherit;
}
  